:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --border: 1px solid var(--main-color);
  --decor-display-switch: none;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --bg-color: #ffc2e6;
  --menu-button-color: var(--main-color);
  --main-text-color: var(--main-color);
  --main-title-color: #ffc2e6;
  --section-title-color: var(--main-color);
  --section-subtitle-color: var(--main-color);
  --button-border-color: rgba(53, 52, 48, .4);
}


@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --border: 1px solid var(--main-color);
    --decor-display-switch: none;
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --bg-color: #ffc2e6;
    --menu-button-color: var(--main-color);
    --main-text-color: var(--main-color);
    --main-title-color: #ffc2e6;
    --section-title-color: var(--main-color);
    --section-subtitle-color: var(--main-color);
    --button-border-color: rgba(53, 52, 48, .4);
  }
}
